.nav-links {
	list-style: none;
	margin: 0;
	padding: 7rem 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	li {
		margin: 1rem 0;
		color: white;
	}

	a {
		color: white;
		text-decoration: none;
		padding: 1.5rem;
		width: 100%;
		font-weight: bolder;
		font-size: 1.6rem;

		&:hover,
		&:active,
		&.active {
			color: #6dd47e;
		}
	}

	&__cta {
		border: 1px solid #144499;
		border-radius: 5px;
		padding: 1.5rem 3rem;

		&:hover {
			background-color: #144499;
			color: white !important;
		}
	}
}

@media (min-width: 768px) {
	.nav-links {
		flex-direction: row;
		align-items: center;

		a {
			color: #144499;
			font-size: 1.6rem;
			font-weight: bold;
			padding: 1.5rem;
		}
	}
}
