.main-navigation__title {
	color: #144499;

	a {
		text-decoration: none;
		color: #144499;
	}
}

.main-navigation__menu-btn {
    width: 1.5rem;
    height: 2rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
    z-index: 400;
    margin: 0;
    position: relative;

    &:focus {
      outline: none;
    }
    
    span {
        display: block;
        width: 1.5rem;
        height: 2px;
        background: #144499;
        transition: all .2s;
      }

      &__middle {
        background: transparent !important;
      }

      &__before {
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        width: 2rem;
        height: 3px;
      }

      &__after {
        transform: rotate(-45deg);
        position: absolute;
        top: 10px;
        width: 2rem;
        height: 3px;
      }
  }

.main-navigation__header-nav {
    display: none;
  }

  @media (min-width: 768px) {
    .main-navigation__menu-btn {
      display: none;
    }
    .main-navigation__header-nav {
      display: block;
    }
  }
  