.form__group {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: var(--color-input-background);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.3s;
}
.form__input::-webkit-input-placeholder {
  color: #ccc;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--color-primary);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--color-input-invalid);
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  text-align: left;
}
.form__label--hidden {
  opacity: 0;
  visibility: hidden;
}
.form__input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__group--invalid label,
.form__group--invalid p {
  color: red;
  text-align: left;
  margin-top: -10px;
}
.form__group--invalid input,
.form__group--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}
.form .react-select__control {
  background: var(--color-input-background) !important;
}
